# Compiled class file
*.class

# Maven Build Artifacts - ADD THIS CRITICAL SECTION
# Ignore ALL 'target' directories, including the one inside 'processor/'
**/target/
processor/target/maven-archiver/pom.properties
processor/target/maven-status/
processor/target/surefire-reports/
createdFiles.lst
inputFiles.lst

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.mp4

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


# Temporary and Environment Files
sampleVideo
**/node_modules
.DS_Store
.env